a {
  text-decoration: none;
  font-size: 19px;
  color: rgb(29, 40, 71);
}
a:hover {
  color: orange;
}

.spanicon {
  font-size: 39px;
  color: rgb(255, 94, 0);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.logo h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.logo .spanicon {
  color: rgb(255, 119, 0);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  padding: 0 0px;
  background-color: rgb(216, 216, 216);
  position: fixed;
  width: 100%;
  z-index: 9999;
}

nav .hamburgur {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #eee;
  border: 0px solid gray;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}
nav .hamburgur {
  display: none;
}
nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

.serch-icons {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.serch-icons button {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #eee;
  border: 0px solid gray;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}
.serch-icons button:hover {
  background-color: orange;
  color: white;
}
@media (max-width: 1000px) {
  nav .hamburgur {
    display: block;
  }
  nav .hamburgur {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #eee;
    border: 0px solid gray;
    height: 40px;
    width: 40px;
    border-radius: 5px;
  }
  .menu {
    display: none;
  }
  nav {
    justify-content: space-between;
    padding: 0px 30px;
  }

  .menu {
    position: absolute;
    height: 100vh;
    top: 10vh;
    left: -100%;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    width: 100%;
    justify-content: center;
    background-color: rgb(182, 182, 182);
  }
  .active {
    left: 0;
  }
  a {
    font-size: 28px;
  }
  nav .menu {
    padding: 0px;
  }
}
