.footer {
  width: 100%;
  /* height: 50vh; */
  background-color: rgb(255, 252, 252);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-contaoner {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  flex-wrap: wrap;
  gap: 50px;
}
.footer-left1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}
.footer-left1 .quick-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-left1 p {
  font-size: 17px;
  line-height: 0.8cm;
  color: rgb(110, 110, 110);
}

.link-logos {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}
.link-logos span {
  background-color: rgb(207, 206, 206);
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 22px;
  border-radius: 10px;
}

.second-column {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 350px;
}
.contact-list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.quick-info h3 {
  color: black;
  font-size: 26px;
  padding-bottom: 10px;
}

.contact-list span {
  color: rgb(110, 110, 110);
  font-size: 17px;
  line-height: 1cm;
}

.third-column {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 350px;
}
.quick-info-list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.styles-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.address-text {
  padding-top: 50px;
}
.address-text h2 {
  font-size: 19px;
  line-height: 0.9cm;
}
.address-text span {
  color: gray;
}
.address-text span > i {
  color: orange;
  font-weight: bold;
}
